* {
    box-sizing: border-box;
}
.Main-container{
	width:80%;
	padding:2%;
	margin:auto;
	border:solid gray;
}

h2{
	text-align: center;
}
.Image{
	width:120px;
}

}
@media(max-width:1200px)
{

}
@media(max-width:993px)
{
	.Main-container{
		width:95%;
	}
}
@media(max-width:768px)
{
	.Subscribe{
		margin:5%;
	}
}
